# Configuration for STM32 pinmux

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

config PINMUX_BLUENRG
	bool "Pinmux driver for BLUENRG MCUs"
	depends on SOC_BLUENRG
	help
	  Enable pin multiplexer for BLUENRG MCUs
