# BLUENRG UART configuration

# Copyright (c) 2016 Open-RnD Sp. z o.o.
# SPDX-License-Identifier: Apache-2.0

# --- port 1 ---

config UART_1
	bool "Enable BLUENRG USART1 Port"
	help
	  Enable support for USART1 port in the driver.
	  Say y here if you want to use USART1 device.
